.loading {
    width: 200px;
    height: 200px;
    position: relative;
}

.loading::before,.loading::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: s 2s linear infinite;
}
.loading::after{
    animation-delay: 1s;
}

@keyframes s {
    10% {
        width: 0px;
        height: 0px;
        opacity: 1;
    }
    100% {
        width: 50px;
        height: 50px;
        opacity: 0;
    }
}